@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-outline {
    @apply px-4 py-2 border border-gray-300 rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
  }

  .btn-primary {
    @apply px-4 py-2 bg-primary text-white rounded-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
  }

  .btn-success {
    @apply px-4 py-2 bg-success text-white rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-success;
  }

  .input-field {
    @apply block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary;
  }

  /* Styles pour les tableaux dans le dashboard */
  .dashboard-table-container {
    @apply w-full overflow-x-auto;
  }

  .dashboard-table {
    @apply min-w-full;
  }
}

/* Variables de couleur personnalisées */
:root {
  --color-primary: #1a56db;
  --color-primary-dark: #1e429f;
  --color-secondary: #7e3af2;
  --color-success: #0e9f6e;
  --color-danger: #e02424;
  --color-warning: #ff5a1f;
  --color-accent-yellow: #fbbf24;
}